<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BIFM</title>
    <link href="/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="title" content="BypassItForMe">
    <meta name="description" content="Bypass annoying adlinks with BIFM.">
  </head>
  <body>
    <div class="top">
      <a href="/"><h2>BypassItForMe</h2></a>
    </div>
    <div class="main">
      <div class="desc">
        <p>Open sourced server-side link bypasser.</p>
        <p><i>Or FastForward but without an extension, for non-nerds.</i></p>
      </div>
      <% if (alert && alert !== undefined && alert !== null && alert !== "") { %>
        <div class="alert">
          <p><b>Alert</b>: <%= alert %></p>
        </div>
      <% } else { %>
        <br>
      <% } %>
      <div class="require-script">
        <div class="form">
          <input placeholder="Insert adlink here." id="url">
          <button onclick="bypass();">Bypass</button>
          <div class="options"><br>
            <% if (config.db.active == true) { %>
              <input type="checkbox" id="allowCache" name="allowCache"> 
              <label for="allowCache">Disallow caching of your result?</label><br>
              <input type="checkbox" id="ignoreCache" name="ignoreCache">
              <label for="ignoreCache">Ignore cached result?</label>
            <% } else { %>
              <p class="nm"><i>This instance doesn't have a cache, so no options for you :(</i></p>
            <% } %>
          </div>
        </div>
        <div class="loader">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="result"></div>
      </div>
      <noscript>
        <p style="margin-bottom:0;color:red;"><i>This webapp requires Javascript to run, you can use the API via the docs below if you need to.</i></p>
      </noscript>
    </div>
    <p>
      <a href="https://git.gay/a/bifm">Source code</a> - 
      <a href="https://git.gay/a/bifm/src/branch/main/docs/API.md#notice">API Docs</a> - 
      <a href="https://git.gay/a/bifm/src/branch/main/docs/SITES.md#supported-sites">Supported Sites</a>
    </p>
    <script src="/app.js"></script>
  </body>
</html>