<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BIFM</title>
    <link href="/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="title" content="BypassItForMe">
    <meta name="description" content="Bypass annoying adlinks like ouo.io, exe.io, adf.ly, and more with BIFM.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="top">
      <a href="/"><h2>BypassItForMe</h2></a>
    </div>
    <div class="main">
      <div class="desc">
        <p>Open sourced server-side link bypasser.</p>
        <p><i>Or FastForward but without an extension, for non-nerds.</i></p>
      </div>
      <% if (alert && alert !== undefined && alert !== null && alert !== "") { %>
        <div class="alert">
          <p><b>Alert</b>: <%= alert %></p>
        </div>
      <% } else { %>
        <br>
      <% } %>
      <div class="require-script">
        <div class="form">
          <input placeholder="Insert adlink here." id="url">
          <button onclick="bypass();">Bypass</button>
          <div class="options">
            <details>
              <summary>Options</summary>
              <p class="extra nm"><i class="nm">hover on each option for more information.</i></p>
              <% if (config.db.active == true) { %>
                <div class="option" title="Checking this box means your result will not be cached to this instance.">
                  <label for="allowCache">Disallow caching of your result?</label>
                  <input type="checkbox" id="allowCache" name="allowCache"> 
                </div>
                <div class="option" title="Checking this box means the server will not check our cache for previous entries of the same URL.">
                  <label for="ignoreCache">Ignore cached result?</label>
                  <input type="checkbox" id="ignoreCache" name="ignoreCache">
                </div>
              <% } %>
              <% if (config.fastforward == true) { %>
                <div class="option" title="Checking this box means that, even if your URL is compatible, it will not be sent to FastForward's Crowd Bypass server.">
                  <label for="allowFF">Disallow sending FastForward's Crowd Bypass server your result?</label>
                  <input type="checkbox" id="allowFF" name="allowFF"> 
                </div>
                <div class="option" title="Checking this box means that the server will not check FastForward's Crowd Bypass server for previous entries of the same URL.">
                  <label for="ignoreFF">Ignore FastForward Crowd Bypass result?</label>
                  <input type="checkbox" id="ignoreFF" name="ignoreFF">
                </div>
              <% } %>
              <div class="option">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="The URL's password, if any.">
              </div>
              <div class="option">
                <label for="referer">Referer</label>
                <input type="text" id="referer" name="referer" placeholder="URL you want to come from, if any.">
              </div>
            </details>
          </div>
        </div>
        <div class="loader">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="result"></div>
      </div>
      <div class="info">
        <p>This instance <i><% if (config.captcha.active) { %> does <% } else { %> does not <% } %></i>support solving CAPTCHAs.</p>
        <p>This instance <i><% if (config.db.active) { %> does <% } else { %> does not <% } %> have</i> a cache.</p>
        <p>This instance <i><% if (config.fastforward) { %> supports <% } else { %> doesn't support <% } %></i>  interacting with FastForward.</p>
        <p>This instance <i>has debug mode <% if (config.debug) { %>  on<% } else { %> off<% } %></i>.</p>
      </div>
      <noscript>
        <p style="margin-bottom:0;color:red;"><i>This webapp requires Javascript to run, you can use the API via the docs below if you need to.</i></p>
      </noscript>
    </div>
    <p>
      <a href="https://git.gay/a/bifm">Source code</a> - 
      <a href="https://git.gay/a/bifm/src/branch/main/docs/API.md#notice">API Docs</a> - 
      <a href="https://git.gay/a/bifm/src/branch/main/docs/SITES.md#supported-sites">Supported Sites</a>
    </p>
    <script src="/app.js"></script>
  </body>
</html>