@import url("/load.css");

body {
  background: #bdbdbd;
  color: black;
  text-align: center;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
} 

@media (prefers-color-scheme: dark) {
  body {
    background: #282828;
    color: white;
  }
}

a > h2 {
  color: black;
}

@media (prefers-color-scheme: dark) {
  a {
    color: white;
  }

  a > h2 {
    color: white;
  }
}

.top > a {
  text-decoration: none;
}

.main {
  text-align: left;
  padding: 1vw 1vh;
  background: white;
}

@media (prefers-color-scheme: dark) {
  .main {
    color: white;
    background: black;
  }
}

@media (min-width: 999px) {
  .main {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
}

.require-script {
  display: none; /* Hidden for NoScript users. */
}

#url {
  width: 100%;
  max-width: 300px;
}

.form {
  margin-bottom:5px;
}

.loader {
  display: none;
}

.success {
  background:rgb(43, 255, 43);
  color: black;
}

input,
button {
  padding: 4px;
  border: 0;
}

@media (prefers-color-scheme: dark) {
  .success a {
    color: blue;
  }

  input, 
  button {
    color: white;
  }

  input {
    background: #282828;
  }
  
  button {
    background: #1f1f1f;
  }
}

.error {
  background: red;
  color: white;
}

.alert {
  background: rgb(196, 196, 3);
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info {
  color: white;
  background: gray;
  margin-top: 2px;
  margin-bottom: 0;
}

.success, 
.error,
.alert,
.info {
  padding: 5px;
  border-radius: 3px;
}

.success p, 
.error p,
.alert p,
.info p,
.desc p,
.nm {
  margin: 0;
}

.option {
  width: 100%;
}

.extra {
  font-size: smaller;
  font-weight: bold;
}